.second-screen {
    background: url(/public/images/versus.png) center/cover no-repeat;
}

.second-screen__container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-style: italic;
    height: 100vh;
}

.second-screen__title {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1;
    font-size: 72px;
    color: var(--color_secondary);
    text-shadow: 0 0 10px var(--bg_color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.second-screen__logo {
    position: absolute;
    top: 0;
    width: 300px;
    height: 300px;
    background: url(/public/images/mortal_kombat_dragon.png) center/contain no-repeat;
    filter: drop-shadow(-30px 0px 30px #fff) drop-shadow(-30px 0px 80px #fff);
}

.second-screen__logo.left {
    left: 50px;
}

.second-screen__logo.right {
    right: 50px;
    transform: rotateY(180deg);
}

.player1,
.player2 {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 500px;
    pointer-events: none;
    user-select: none;
    transform: scale(1.1);
    transform-origin: bottom;
}

.player1 {
    left: 50px;
}

.player2 {
    right: 50px;
}

.vs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff;
}

.vs span:last-child {
    transform: translateY(-20px);
    display: inline-block;
    margin-left: 5px;
}

.versus-codes {
    margin: auto auto 50px;
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 100px;
    background-color: var(--bg_color);
}

.versus-codes__item {
    flex: 1;
    border: 5px solid var(--color_secondary);
    background: url(/public/images/3570gww5m8t71.png) no-repeat;
    background-size: 800px;
}

.codes-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 35%;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    border-radius: 10px;
    background-color: var(--color_secondary);
    border: 2px solid #fff;

}